h1 {
    color: #333;
}

h2 {
    color: red;
    font-size: 24px;
}
.img{
    display:block;
    background:url(images/img.png) no-repeat;
    width:640px;
    height:460px;
}
.cry{
    display:block;
    background:url(images/cry.png) no-repeat;
    width:43px;
    height:42px;
}